body {
    background-color: var(--background-color-secundary);
    color: var(--text-color-secundary);
    font-family: var(--font-family);
  }

header button span {
    background-color: var(--button-open);
  }

h2 {
    display: flex;
    justify-content: start;
  }

h2 {
  font-size: 2em;
  }


main { 
  padding: 10px; 
}


main a {
    color: var(--text-color-secundary);
    position: relative; 
  }
  

main p > a::after{  
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;                   
  width: 0%;
  height: 2px;                
  background-color: var(--text-line-hover);          
  transition: width 0.3s ease;     
} 


main p > a:hover::after,
main p > a:hover::after 
 {
   width: 100%;
}

main ul li > h3{
color: var(--text-color-primary);
}

/* --- CAROUSEL CONTAINER --- */
/* bron https://chrome.dev/carousel-configurator/ */
main > ul:nth-of-type(1) {
  display: flex;

  position: relative;
  overflow-x: auto;                   /*  horizontaal scrollen AAN  */
  overflow-y: hidden;
  scroll-snap-type: x mandatory;     /*  elke slide 'snapt' in positie  */
  scroll-behavior: smooth;          /*   soepel scrollen  */

  gap: .5em;                   
  margin: 0;
  padding: 0;   

  /* anchor positioning  */
  anchor-name: --carousel;
}


main > ul:nth-of-type(1) > li {
  flex-shrink: 0;  
  scroll-snap-align: center;
}

main > ul:nth-of-type(1)::-webkit-scrollbar {
  display: none;                    /* scrollbar verbergen (Chrome/Safari) */
}


/* Tekst op afbeelding */
main > ul:nth-of-type(1) > li h3,
main > ul:nth-of-type(1) > li p {
  position: absolute;

  z-index: 10;

  left: 0;
  transform: none;
  text-align: left;

  margin: 0px 10px 5px 10px;  
}


main > ul:nth-of-type(1) > li h3 {
  bottom: 2.5em;
  font-size: 1.5em;
}

main > ul:nth-of-type(1) > li p {
  color: var(--subtext-color);
}

main > ul:nth-of-type(1) > li p:first-of-type {
  bottom: 2em;
}

main > ul:nth-of-type(1) > li p:last-of-type {
  bottom: 0.5em; 
}

main > ul:nth-of-type(1) > li {
  position: relative;
  display: block;
}


section p {
  color: var(--subtext-color);
}

section p:hover{
  color: var(--subtext-color-hover-secundary);
}

/* section styling */
main > section > ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  border-bottom: 1px solid var(--line-color-dark);
}

main > section > ul > li > h4 {
  grid-column: span 2;
}

main > section > ul > li > p {
  grid-column: span 1;
  text-align: end;
}