@font-face {
  font-family: Paradiso;
  src: url(../font/paradiso-medium.woff2);
  font-weight:500;
}

@font-face {
  font-family: Paradiso;
  src: url(../font/paradiso-bold.woff2);
  font-weight:700;
}

@font-face {
  font-family: Paradiso;
  src: url(../font/paradiso-light.woff2);
  font-weight:300;
}

@font-face {
  font-family: Paradiso;
  src: url(../font/paradiso-regular.woff2);
  font-weight:400;
}

/*primitives*/
:root {
  /*font-family*/
  --font-family: Paradiso;

  /* colors */

  --white-color: #FFFFFF;
  --black-color: #000000;

  --primary-color: #f78f1e;
  --secundary-color: #E2751A;

  --dark-color: #E35800;
  --darker-color: #7B341E;
  --soft-color: #FEEBC8;

  --light-gray-color: #E2E8F0;
  --gray-color: #96a2b3;
  --dark-gray-color: #8B9097;

  /* gradient  */
  --gradient-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, #000 100%);

  /* use for the colors  */

  /* background */
  --background-color-primary: var(--primary-color);
  --background-color-secundary: var(--white-color);

  /* text */
  --text-color-primary: var(--white-color);
  --text-color-secundary: var(--black-color);

  --menu-text-color: var(--black-color);

  /* hover over tekst */
  --text-line-hover: var(--black-color);

  /* subtext */
  --subtext-color: var(--gray-color);
  --subtext-color-light: var(--light-gray-color);
  --subtext-color-hover-primary: var(--white-color);
  --subtext-color-hover-secundary: var(--black-color);

  /* buttons */
  --button-color: var(--gray-color);
  --button-color-hover: var(--black-color);

  --button-text: var(--black-color);
  --button-text-hover: var(--white-color);

  /* hamburger menu */
  --button-closed: var(--white-color);
  --button-open: var(--black-color);

  /* lines */
  --line-color-light: var(--gray-color);
  --line-color-dark: var(--dark-gray-color);
  --line-color-hover: var(--white-color);
}


/*darkmode*/
@media (prefers-color-scheme:dark) {
  :root {
  /* use for the colors  */

  /* background */
  --background-color-primary: var(--black-color);
  --background-color-secundary: var(--black-color);

  /* text */
  --text-color-primary: var(--white-color);
  --text-color-secundary: var(--white-color);

  --menu-text-color: var(--white-color);

  /* hover over tekst */
  --text-line-hover: var(--white-color);

  /* subtext */
  --subtext-color: var(--dark-gray-color);
  --subtext-color-light: var(--dark-gray-color);
  --subtext-color-hover-primary: var(--white-color);
  --subtext-color-hover-secundary: var(--dark-gray-color);

  /* buttons */
  --button-color: var(--dark-gray-color);
  --button-color-hover: var(--white-color);
  
  --button-text: var(--black-color);
  --button-text-hover: var(--black-color);

  /* hamburger menu */
  --button-closed: var(--black-color);
  --button-open: var(--white-color);

  /* lines */
  --line-color-light: var(--dark-gray-color);
  --line-color-dark: var(--dark-gray-color);
  --line-color-hover: var(--white-color);
  }
}


/* ALGEMENE STYLING */
main {
  overflow-x: hidden;
}


h2 {
  font-family: Helvetica;
  font-weight: 1000;
  margin: 0;
  overflow-x: hidden;
}

main > h3 {
  margin: 0;
  padding-left: 10px;
}

h4 {
  margin-bottom: 0;
  margin-top: 10px;
}


ul{
  list-style-type:"";
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* BODY */
body {
  margin: 0;
  font-family: var(--font-family);
  width: auto;
  padding: 0em;
}

@media (min-width: 500px) {
  body { padding: 1.5em; }
}


@media (max-width: 499px) {
  header nav:last-of-type a:last-of-type {
    padding-right: .5em;
  }
}

/* HEADER */

header{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}


/* titel van de pagina */

h1{
  width:100%;

  text-align: center;

  font-family: Helvetica;
  font-weight: 1000;
  letter-spacing: -7px;
  font-size: 9.3em;
  margin: -20px 0px 2px 2px;
  overflow-x: hidden;
}

@media (min-width: 1000px){
  h1{
    font-size: 20em; 
  }
}

/* menu */

header menu {
  margin:0;
  padding:0;
  list-style-type:"";

  display: flex;
  align-items: center;

  order:-3;
}

/* search icon */
header menu li > img {
  max-height: 1.5em;
  max-width: 1.5em;

  fill: var(--button-open);
}


/* hamburger button */

header button  {
  position:relative;
  
  /* hoger dan menu */

  appearance: none;
  font-size:1em;
  
  width:3em;
  aspect-ratio:1;
  
  border:none;
  background-color: transparent;
  
  display:grid;
  justify-content:center;
  align-content: center;
} 

header menu li:nth-of-type(1) button  {
  z-index: 1010; 
}

header button span {
  display: block;
  width:1.5em;
  height:.2em;
  
  border-radius:.1em;
  background-color: var(--button-closed);
  
  grid-column-start:1;
  grid-row-start:1;
}


/* normal */

header button span:nth-of-type(1){
  transform: translateY(-0.5em);
}

header button span:nth-of-type(2){
  transform: none;
}

header button span:nth-of-type(3){
  transform: translateY(0.5em);
}


/* is open */
header button.is-open span{
  background-color: var(--button-open);
}

header button.is-open span:nth-of-type(1){
  transform: rotate(45deg) translateY(0);
}

header button.is-open span:nth-of-type(2){
  transform: scaleX(0);
}

header button.is-open span:nth-of-type(3){
  transform: rotate(-45deg) translateY(0);
}



/* het hamburger menu */
/* navigatie styling */
nav:nth-of-type(1) {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  color: var(--menu-text-color);
  background-color: var(--background-color-secundary);

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;


  overflow-y: scroll;

  /* color: var(--text-color-secundary); */
}

nav:nth-of-type(1).is-open {
  transform: translateX(0); /* menu slides in */
}

/* 1e nav a styling */

nav:nth-of-type(1) a{
  position: relative;        
  text-decoration: none;                   
}


nav:nth-of-type(1) a::after {  
  content: '';                        /*  pseudo-element voor de streep */
  position: absolute;
  left: 0;
  bottom: 0;                   
  width: 0%;                    
  height: 2px;                
  background-color: var(--text-line-hover);          
  transition: width 0.3s ease;     
} 

nav:nth-of-type(1) a:hover::after {
   width: 100%;                      /*    streep loopt volledig onder de tekst */
}


/* 1e nav ul styling*/

header nav:nth-of-type(1) ul:nth-of-type(1) {
  font-size: 3.125rem;
  line-height: 4.050rem;
  font-weight: 500;
}


header nav:nth-of-type(1) ul:nth-of-type(2),
header nav:nth-of-type(1) ul:nth-of-type(3) {
  font-size: 1.725rem;
  line-height: 2.700rem;
  font-weight: 400;
}


@media (min-width: 1000px) {
  header nav:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem; 
    padding: 2rem;
  }

  header nav:nth-of-type(1) ul:nth-of-type(1),
  header nav:nth-of-type(1) ul:nth-of-type(2) { 
    display: flex;
    flex-direction: column;
    flex: 1; 
  }

  header nav:nth-of-type(1) ul:nth-of-type(3){
    width: 100%;
    columns: 2;
  }
}


/* 2e nav */

header nav:nth-of-type(2) {
  order:-1;
}


header nav:nth-of-type(2) ul {
  margin:0;
  padding:0;
  list-style-type: "";

  display:flex;
  gap: 1em;
}

header nav:nth-of-type(2) ul li a{
  font-size: 1.25rem;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
@media (max-width: 450px) {
  header nav:nth-of-type(2) ul li:nth-last-of-type(2) a {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* slogan */
header p:nth-of-type(1) {
  width:100%;
  text-align: center;
  font-size: larger;
}


header nav a  {
  text-decoration: none;
  color: var(--menu-text-color);
}

header nav a:hover{
  text-decoration: none;
  color: var(--text-line-hover);
}


nav ul:nth-child(3) img {
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


@media (width > 1000px) {
  header p:nth-of-type(1) {
    order:-2;
    width:auto;
  }
}


a{
  position: relative;        
  text-decoration: none;                   
  font-family: var(--font-family);

  transition-property: right, left;
  transition-duration: 2s;
  -webkit-transition-property: right, left; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
}


button{
  border: none;
  padding: 1em;

  position: relative;
  display: inline-block;

  color: var(--button-text);
  background-color: var(--button-color);

  font-weight: bold;

  display: inline-flex;
}

main button:hover{
  background-color: var(--button-color-hover);
  color: var(--button-text-hover);
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}


header ul img {
  max-width: 80px;
  height: auto;
} 


.gradient {
  position: relative;
  display: inline-block;
}

.gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient-overlay);
  pointer-events: none;
  z-index: 1;
}

main > ul > li a {
  display: grid;
  position: relative;
  text-decoration: none;
  color: inherit;
  
  width: 257px;		
  height: 320.75px;

  grid-template-rows: 1fr auto auto auto auto;	
  scroll-snap-align: center;
}

main > ul > li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


  /* section styling */
main > section > ul:nth-child(2){
  gap: 2em;
}

main > section > ul:nth-child(2) > li > p:nth-of-type(2),
main > section > ul:nth-child(3) > li > p:nth-of-type(2) {
  margin-top: .5px;
  margin-bottom: 10px;
}

main > section > ul:nth-child(3) > li > p:first-of-type{
  margin-top: 20px;
}

@media (max-width: 1000px) {
  main > section {
    display: block;   
    gap: 0;         
  }

  main > section > ul:nth-child(2),
  main > section > ul:nth-child(3) {
    padding-left: 0;
    width: 100%;      
  }

}

