/* algemene styling */
ul li a{
  position: relative;
  overflow: hidden;
}


body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
}


main > h2 {
  letter-spacing: -7px;
  font-size: 7.3em;
}

@media (min-width: 630px) {
  h1, h2 {
    display: flex;
    justify-content: center;
  }
}

/* HEADER */
header p{
  color: var(--subtext-color-light);
}

header > p > a  {
  text-decoration: underline;
  color: var(--text-color-primary);
}

header > nav:nth-of-type(2) a{
  color: var(--text-color-primary);
}

header button span {
  background-color: var(--white-color);
}


/* MAIN */
@media (min-width: 768px) {
  .img {
    order: 0;         
    flex-direction: column;   
  }
}

/* --- CAROUSEL CONTAINER --- */
/* bron https://chrome.dev/carousel-configurator/ */
main > ul:nth-of-type(1) {
  display: flex;

  position: relative;
  overflow-x: auto;                   /*  horizontaal scrollen AAN  */
  scroll-snap-type: x mandatory;     /*  elke slide 'snapt' in positie  */
  scroll-behavior: smooth;          /*   soepel scrollen  */

  gap: 0;                   
  margin: 0;
  padding: 0;   

  /* anchor positioning  */
  anchor-name: --carousel;
}



main > ul:nth-of-type(1) > li {
  flex-shrink: 0;  
  scroll-snap-align: center;
}

main > ul:nth-of-type(1)::-webkit-scrollbar {
  display: none;                    /* scrollbar verbergen (Chrome/Safari) */
}


/* Tekst op afbeelding */
main > ul:nth-of-type(1) > li h3,
main > ul:nth-of-type(1) > li p {
  position: absolute;

  z-index: 10;

  left: 0;
  transform: none;
  text-align: left;

  /* color: var(--text-color-primary); */
  margin: 0px 10px 5px 10px;  
}


main > ul:nth-of-type(1) > li h3 {
  bottom: 2.5em;
  font-size: 1.5em;
}


main > ul:nth-of-type(1) > li p:first-of-type {
  bottom: 2em;
}

main > ul:nth-of-type(1) > li p:last-of-type {
  bottom: 0.5em; 
}

/* tweede carousel */

main > ul:nth-of-type(2) {
  display: flex;

  overflow-x: auto;                 /*  horizontaal scrollen AAN*/
  scroll-snap-type: x mandatory;    /*  elke slide 'snapt' in positie */
  scroll-behavior: smooth;         /*  soepel scrollen  */

  gap: .5em;                   

  padding-left: 10px;

  /* anchor positiong */
   anchor-name: --carousel;
}


main > ul:nth-of-type(2) > li {
  flex-shrink: 0;  
  scroll-snap-align: center;
}

main > ul:nth-of-type(2)::-webkit-scrollbar {
  display: none;      /* scrollbar verbergen (Chrome/Safari)  */
}


/* Tekst op afbeelding */
main > ul:nth-of-type(2) > li h4,
main > ul:nth-of-type(2) > li p {
  position: absolute;

  z-index: 10;

  left: 0;
  transform: none;
  text-align: left;

  margin: 0px 10px 5px 10px;  
}


main > ul:nth-of-type(2) > li h4 {
  bottom: 3.5em;
  font-size: 1.5em;
}


main > ul:nth-of-type(2) > li p:first-of-type {
  bottom: 2em;
}

main > ul:nth-of-type(2) > li p:last-of-type {
  bottom: 0.5em; 
}

main > menu {
  display: flex;
  gap: .5em;
  padding-left: 10px;
}

main > menu > li {
  list-style-type:"";
}

/* section styling */
main > section > ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid var(--line-color-light);
}

main > section > ul > li > h4 {
  grid-column: 1 / span 3; 
  grid-row: 1;             
  margin-bottom: 0;
}


main > section > ul > li > p:nth-of-type(1) {
  grid-column: 1 / span 3; 
  grid-row: 2;         
  margin-top: 0;    
}


main > section > ul > li > p:nth-of-type(2) {
  grid-column: 4;       
  grid-row: 1 / span 2;    
  justify-self: end;      
  align-self: center;
}

section p {
  color: var(--subtext-color-light);
}

section p:hover{
  color: var(--subtext-color-hover-primary);
}

section {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width:1000px) {
  section{
    display: flex;
  }

  ul {
    padding-left: 40px;
  }
}