/* algemene styling */
ul a li {
  position: relative;
  overflow: hidden;
}

/* BODY */

body {
  background-color: var(--primary-color);

}

/* HEADER */
header p{
  color: var(--soft-color);
}

header a  {
  text-decoration: underline;
  color: var(--white-color);
}

/* MAIN */

/* img {
  max-width: 390px;
  width: calc(100% - 4em); 
  box-sizing: border-box;
} */

/* BAH */
@media (max-width: 768px) {
  .img {
    order: 1;
    flex-direction: column;
  }
}

/* --- CAROUSEL CONTAINER --- */
main > ul:nth-of-type(1) {
  display: flex;


  overflow-x: auto;                 /* horizontaal scrollen AAN */
  scroll-snap-type: x mandatory;    /* elke slide 'snapt' in positie */
  scroll-behavior: smooth;          /* soepel scrollen */

  padding-inline: 2em;

  gap: 0;                   
  margin: 0;
  padding: 0;               

  width: 100vh;

}

main > ul:nth-of-type(1) > li {
  flex: 0 0 100%;     /* Elke slide = 100% van de viewportbreedte */
  scroll-snap-align: start;
  position: relative;
}

main > ul:nth-of-type(1)::-webkit-scrollbar {
  display: none;                    /* scrollbar verbergen (Chrome/Safari) */
}

/* --- CAROUSEL ITEMS --- */
main > ul:nth-of-type(1) > li:not(:has(button)) {
  flex: 0 0 100%;                   /* elke slide neemt 100% breedte */
  scroll-snap-align: center;        /* slide centreert bij stoppen */
  position: relative;

  overflow: hidden;
}

/* --- AFBEELDING + OVERLAY --- */
main > ul:nth-of-type(1) > li {
  background: linear-gradient(30%);
}

main > ul:nth-of-type(1) > li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
}

main > ul:nth-of-type(1) > li a img {
  width: 50vh;
  height: 60vh;
  object-fit: cover;
  display: block;
}

/* Tekst op afbeelding */
main > ul:nth-of-type(1) > li a h2,
main > ul:nth-of-type(1) > li a p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--white-color);
  margin: 0;
}


main > ul:nth-of-type(1) > li a h2 {
  bottom: 3.5em;
  font-size: 1.5em;
}


main > ul:nth-of-type(1) > li a p:first-of-type {
  bottom: 2em;
}

main > ul:nth-of-type(1) > li a p:last-of-type {
  bottom: 0.5em;
}

/* --- PIJLEN --- */
main > ul:nth-of-type(1) > li:has(button) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

main > ul:nth-of-type(1) > li:first-child {
  left: 1em;
}

main > ul:nth-of-type(1) > li:last-child {
  right: 1em;
}

main > ul:nth-of-type(1) > li:has(button) > button {
  background-color: var(--white-color);
  border: none;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  font-size: 1.2em;
  color: var(--black-color);
  cursor: pointer;
  box-shadow: 0 0 6px var(--black-color)
  transition: background 0.2s ease;
}

main > ul:nth-of-type(1) > li:has(button) > button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

main > ul:nth-of-type(1) > li:has(button) > button:focus{
  border-color: var(--focus-state:);
}


main ul:nth-of-type(2) a li h3,
main ul:nth-of-type(2) a li p {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;

}

main ul:nth-of-type(2) a li h3,
main ul:nth-of-type(2) a li p::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

main ul:nth-of-type(2) a li h3,
main ul:nth-of-type(2) a li p::after {
  top: 50%;
  transform: translateY(-50%);
}
  
